.sidebar-nav-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: var(--spacing-4);
  overflow-x: hidden;
  overflow-y: auto;
  padding: var(--spacing-2);

  .nav-section {
    display: flex;
    flex-direction: column;
  }

  .label {
    padding-inline: var(--spacing-2);
    font-size: var(--font-size-xs);
    font-weight: 500;
    color: var(--color-zinc-500);
    text-transform: uppercase;
    letter-spacing: 0.05em;
    margin-bottom: var(--spacing-2);
  }

  .nav {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-1);
  }
}

.sidebar.collapsed {
  .sidebar-nav-container {
    align-items: center;
    padding-inline: var(--spacing-1);
    
    .label {
      display: none;
    }

    .nav-section {
      width: 100%;
    }

    .nav {
      width: 100%;
      align-items: center;
    }
  }
}
